/*
body {
    background: url("../../utils/img/bgOption3.jpeg");
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;
  };
*/
  /* no-repeat center center fixed */

