body {
    background: url("../../utils/img/bgPattern4.jpeg");
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;
  };
  /* no-repeat center center fixed */