/*
body {
    background: url("../../utils/img/bgPattern1.jpg");
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;
  };
  */
  /* no-repeat center center fixed */
